<div class="row e-arrangement">
  {{>side-nav}}
    <div class="col-md-8 o-profile-edit">
      <div class="card">
        <div class="details">
          <div class="flex-row">
            <div class="heading-u-red">Edit Profile</div>
          </div>
        {{#if messages.error}}
            <div class="alert alert-danger" role="alert">
                {{messages.error}}
            </div>
        {{/if}}
          <form id="edit-form" enctype="multipart/form-data" method="POST">
            <div class="attributes d-flex flex-column">
              <div class="row justify-content-between">
                <div class="row align-items-center justify-content-between detail-row">
                  <div class="label-input col-md-4 col-sm-3">UserID</div>
                  <input class="input-text col-md-8 col-sm-8" type="text" disabled id="userid" value="{{user.id}}" />
                </div>
                <div class="row align-items-center justify-content-between detail-row">
                  <div class="label-input col-md-4 col-sm-3">Username</div>
                  <input class="input-text col-md-8 col-sm-8" type="text" disabled id="username" value="{{user.username}}" />
                </div>
              </div>
              <div class="row justify-content-between">
                <div class="row align-items-center justify-content-between detail-row">
                  <div class="label-input col-md-4 col-sm-3">Firstname</div>
                  <input class="input-text col-md-8 col-sm-8" type="text" name="firstname" id="firstname" value="{{user.firstname}}"/>
                </div>
                <div class="row align-items-center justify-content-between detail-row">
                  <div class="label-input col-md-4 col-sm-3">Lastname</div>
                  <input class="input-text col-md-8 col-sm-8" type="text" name="lastname" id="lastname" value="{{user.lastname}}"/>
                </div>
              </div>
              <div class="row align-items-center justify-content-between detail-row">
                <div class="label-input col-md-4 col-sm-3">Email</div>
                {{#if user.verifiedemail}}
                    <input class="input-text col-md-8 col-sm-8" type="text" id="email" name="email" disabled value="{{user.email}}" />
                {{else}}
                    <input class="input-text col-md-8 col-sm-8" type="text" id="email" name="email" value="{{user.email}}" />
                {{/if}}
              </div>
              <div class="row justify-content-between">
                <div class="row align-items-center justify-content-between detail-row">
                  <div class="label-input col-md-4 col-sm-3">New Password</div>
                  <input class="input-text col-md-8 col-sm-8" type="password" name="password" placeholder="Leave empty to keep unchanged" id="password"/>
                </div>
                <div class="row align-items-center justify-content-between detail-row">
                  <div class="label-input col-md-4 col-sm-3">Re-Enter</div>
                  <input class="input-text col-md-8 col-sm-8" type="password" name="repassword" placeholder="Leave empty to keep unchanged" id="repassword"/>
                </div>
              </div>
              <div class="row justify-content-between">
                <div class="row align-items-center justify-content-between detail-row">
                  <div class="label-input col-md-4 col-sm-3">College</div>
                  <select name="collegeId" class="dropdown-ul input-text col-md-8 col-sm-8">
                    {{#each colleges}}
											{{#ifeq expected=id val=../user.demographic.collegeId}}
												<option class="dropdown-li" value="{{id}}" selected>{{name}}</option>
											{{/ifeq}}
											{{#ifneq expected=id val=../user.demographic.collegeId}}
												<option class="dropdown-li" value="{{id}}">{{name}}</option>
											{{/ifneq}}
                    {{/each}}
                  </select>
                </div>
                <div class="row align-items-center justify-content-between detail-row">
                  <div class="label-input col-md-4 col-sm-3">Branch</div>
                  <select name="branchId" class="dropdown-ul input-text col-md-8 col-sm-8">
                    {{#each branches}}
											{{#ifeq expected=id val=../user.demographic.branchId}}
												<option class="dropdown-li" value="{{id}}" selected>{{name}}</option>
											{{/ifeq}}
											{{#ifneq expected=id val=../user.demographic.branchId}}
												<option class="dropdown-li" value="{{id}}">{{name}}</option>
											{{/ifneq}}
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="flex-row justify-content-end button-div">
                <div class="faded reset-button">
                  <button type="reset" value="RESET">RESET</button>
                </div>
                <div class="button-solid">
                  <button type="submit" value="SUBMIT">SAVE CHANGES</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>