<div class="row e-arrangement">
  {{>side-nav}}
  <div class="col-md-8 o-profile">
    <div class="card">
      <div class="details">
        <div class="flex-row">
          <div class="heading-u-red">My Profile</div>
          <div class="button-solid"><a href="/users/me/edit">
            <button class="white">Edit Profile</button></a>
          </div>
        </div>
        <div class="attributes">
          <div class="flex-row">
            <div>UserID</div>
            <div><span class="faded">{{user.id}}</span></div>
          </div>
          <div class="flex-row">
            <div>Username</div>
            <div><span class="faded">{{user.username}}</span></div>
          </div>
          <div class="flex-row">
            <div>Firstname</div>
            <div><span class="faded"> {{user.firstname}} </span></div>
          </div>
          <div class="flex-row">
            <div>Lastname</div>
            <div><span class="faded"> {{user.lastname}} </span></div>
          </div>
          {{#unless user.verifiedemail}}
          <div class="flex-row">
            <div>Email Address</div>
            <div><span class="faded"><a href="mailto:{{user.email}}">{{user.email}}</a></span></div>
          </div>
          {{/unless}}
          <div class="flex-row">
            <div>College</div>
            <div><span class="faded">{{user.demographic.college.name}}</span></div>
          </div>
          <div class="flex-row">
            <div>Branch</div>
            <div><span class="faded"> {{user.demographic.branch.name}} </span></div>
          </div>
          <div class="flex-row">
            <div>Verified Mail</div>
            <div><span class="faded"> 
                {{#if user.verifiedemail}}
                    <a href="mailto:{{user.email}}">{{user.verifiedemail}}</a>
                {{else}}
                    <a href="#">Not Verified</a>
                {{/if}}
            </span></div>
          </div>
          {{#if user.role}}
          <div class="flex-row">
            <div>Role@CB: </div>
            <div><span class="faded"> {{user.role}} </span></div>
          </div>
          {{/if}}
        <div>
          <div class="links row">
              {{#if user.userfacebook}}
            <div class="auth-link">
              <button class="button-circle facebook">
                <i class="fab fa-facebook-f fa-2x"></i>
              </button>
              <div class="link-text"><a target="_blank" href="http://facebook.com/{{user.userfacebook.id}}">FACEBOOK</a></div>
            </div>
            {{/if}}
            {{#if user.usergoogle}}
            <div class="auth-link">
              <button class="button-circle google">
                <i class="fab fa-google-plus-g fa-2x"></i>
              </button>
              <div class="link-text">GOOGLE</div>
            </div>
            {{/if}}
            {{#if user.usertwitter}}
                <div class="auth-link">
                  <button class="button-circle twitter">
                    <i class="fab fa-twitter fa-2x"></i>
                  </button>
                  <div class="link-text">TWITTER</div>
                </div>
                {{/if}}
            {{#if user.usergithub}}
                <div class="auth-link">
                  <button class="button-circle github">
                    <i class="fab fa-github fa-2x"></i>
                  </button>
                  <div class="link-text">GITHUB</div>
                </div>
            {{/if}}
          </div>
        </div>
          <div class="flex-row">
            You may also connect to:
          </div>
        </div>
        <div>
          <div class="links row">
              {{#unless user.userfacebook}}
            <div class="auth-link">
              <button class="button-circle facebook">
                <i class="fab fa-facebook-f fa-2x"></i>
              </button>
              <div class="link-text"><a target="_blank" href="http://facebook.com/{{user.userfacebook.id}}">FACEBOOK</a></div>
            </div>
            {{/unless}}
            {{#unless user.usergoogle}}
            <div class="auth-link">
              <button class="button-circle google">
                <i class="fab fa-google-plus-g fa-2x"></i>
              </button>
              <div class="link-text">GOOGLE</div>
            </div>
            {{/unless}}
            {{#unless user.usertwitter}}
            <div class="auth-link">
              <button class="button-circle twitter">
                <i class="fab fa-twitter fa-2x"></i>
              </button>
              <div class="link-text">TWITTER</div>
            </div>
            {{/unless}}
            {{#unless user.usergithub}}
            <div class="auth-link">
              <button class="button-circle github">
                <i class="fab fa-github fa-2x"></i>
              </button>
              <div class="link-text">GITHUB</div>
            </div>
            {{/unless}}
          </div>
        </div>
      </div>
    </div>

{{#unless user.verifiedemail}}
    <div class="card">

      <div class="details">
        <div class="flex-row">
        <form class="form-group mt-2 pl-4 pr-4 verifyemail-form" method="post" action="/verifyemail">
            {{#if user.email}}
                <p>This is your registered email please verify.</p>
                <div class="row verifyemail-input-row">
                    <input class="form-control fontAwesome inputvalidation" name="email" placeholder="&#xf0e0; Email"
                           value="{{user.email}}" type="email" readonly required>
                    <input class="btn btn-primary" type="submit" value="Verify">
                </div>
            {{else}}
                <p>Please enter your registered email id which you have used to buy courses.</p>
                <div class="row verifyemail-input-row">
                    <input class="form-control fontAwesome inputvalidation" name="email" placeholder="&#xf0e0; Email"
                           type="email" required>
                    <input class="btn btn-primary" type="submit" value="Verify">
                </div>
            {{/if}}
        </form>
        </div>
        </div>
    </div>
{{/unless}}
  </div>
</div>